.right-nav {
  position: fixed;
  top: 30%;
  left: -100%;
  color: #b2b2b2;
  font-family: "Lato";
  z-index: 100;
  width: 125px;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      margin-bottom: 40px;
      font-size: 18px;
      position: relative;
      cursor: pointer;
      &.active {
        color: black;
      }
    }
  }
  &.work-section {
    .active {
      color: white;
    }
  }
  .active-bar {
    width: 0;
    height: 1px;
    position: fixed;
    left: 0;
  }
}
